<div style="min-height: 100%;position:relative">
    <div class="jumbotron jumbotron-custom" style="height:100%">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../img/svg/justepeople.svg" class="img-responsive"
                         style="display: inline-block;max-height: 200px; min-height:100px">

                    <h1 class="yourkiez-header" style="display: inline-block;color:#ffffff;">Yourkiez</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height:100%">
        <div class="row">
            <div class="col-sm-12">
                <h1 style="color:#789ACB">Hilfe</h1>

                <p>
                    Klicke oder tippe auf einen Ort in der Karte, zu dem Du was sagen willst. Dann erscheint dort ein
                    Kreis. Tippst Du nun woanders hin, wandert der Kreis an diese neue Stelle. Dann wirst Du nach einer
                    Kategorie gefragt.
                </p>

                <p>
                    Wähle das entsprechende Symbol aus, zu der Dein Anliegen oder Deine Idee passt. Falls Du Dir nicht
                    sicher bist, kannst Du dies auch überspringen.
                </p>

                <p>
                    Gib Deinem Beitrag eine Farbe; Rot steht für sehr schlecht, grün für sehr gut. Gelb ist neutral.
                    Gelbgrün und Orange liegen jeweils dazwischen.
                </p>

                <p>
                    Am Schluss kannst Du uns auch einen Kommentar oder eine Idee für diesen Ort hinterlassen. Unter
                    "Foto hochladen" kannst Du ein Bild von Dem von Dir ausgewählten Ort hochladen. Die Bilder werden
                    automatisch kleiner gerechnet, Du musst sie nicht extra bearbeiten.
                </p>

                <p>
			  
				
                    Du kannst so viele Orte wie Du willst anklicken, bewerten und kommentieren. Deine Beiträge werden
                    von uns moderiert und freigegeben. Erst dann sind sie für alle sichtbar.

                </p>
				<br> 
				<p><p style="color:#789ACB">Mit dem Klick auf (<i class="fa fa-thumbs-up" aria-hidden="true"></i>) oder (<i class="fa fa-thumbs-down" aria-hidden="true"></i>) könnt ihr einen Kommentar bewerten. Dabei heißt natürlich (<i class="fa fa-thumbs-up" aria-hidden="true"></i>) "finde ich gut" oder auch "stimme ich zu";(<i class="fa fa-thumbs-down" aria-hidden="true"></i>) "finde ich nicht gut" bzw. "stimme nicht zu". </p>
				

				<p>  
					<br>  
   Du brauchst noch mehr Information wie alles Funktioniert? Schau dir doch einfach unser Hilfe-Video an:
				<a href="http://yourkiez.de/partials/video_hilfe.html" target="_blank">Video-Hilfe</a> 


                </p>
				<br> 
                <p style="color:#789ACB">
                    <strong>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de
                    </strong>
            </div>
        </div>

    </div>

    <div style="height:150px">
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p><em>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der
                            Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</em></p>
                        <img src="../img/logoleiste.png" style="width:100%">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

