<div class="partials">
	<header> <img src="../img/svg/justepeople.svg"  width="100px"  hight="100px" align="left" hspace="90" vspace="10"> <header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <font  color="#789ACB"><h1>Hilfe</h1></font>
				
                <p>

                    Klicke oder tippe auf einen Ort in der Karte, zu dem Du was sagen willst. Dann erscheint dort ein Kreis. Tippst Du nun woanders hin, wandert der Kreis an diese neue Stelle. Dann wirst Du nach einer Kategorie gefragt.<br>
                    Wähle das entsprechende Symbol aus, zu der Dein Anliegen oder Deine Idee passt. Falls Du Dir nicht sicher bist, kannst Du dies auch überspringen.<br>
                    Gib Deinem Beitrag eine Farbe; Rot steht für sehr schlecht, grün für sehr gut. Gelb ist neutral. Gelbgrün und Orange liegen jeweils dazwischen.<br>
                    Am Schluss kannst Du uns auch einen Kommentar oder eine Idee für diesen Ort hinterlassen. Unter "Foto hochladen" kannst Du ein Bild von Dem von Dir ausgewählten Ort hochladen. Die Bilder werden automatisch kleiner gerechnet, Du musst sie nicht extra bearbeiten.<br>
                    Du kannst so viele Orte wie Du willst anklicken, bewerten und kommentieren. Deine Beiträge werden von uns moderiert und freigegeben. Erst dann sind sie für alle sichtbar.<br><br>

                   <font  color="#789ACB"><b><p>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de</p></b></font>
                </p>
	<br>	
	<br>	
	<br>
				<br>	
				<br>	
				<br>	
				<br>	
	<p><i>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</p></i><br>
                <div>
                    <img src="../img/logoleiste.png" class="img-responsive">
                </div>
            </div>
            </div>
		
        </div>
    </div>
