<div class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Hilfe</h1>
                <p>

                    Klicke oder tippe auf einen Ort in der Karte, zu dem Du was sagen willst. Dann erscheint dort ein Kreis. Tippst Du nun woanders hin, wandert der Kreis an diese neue Stelle. Dann wirst Du nach einer Kategorie gefragt.<br>
                    Wähle das entsprechende Symbol aus, zu der Dein Anliegen oder Deine Idee passt. Falls Du Dir nicht sicher bist, kannst Du dies auch überspringen.<br>
                    Gib Deinem Beitrag eine Farbe; Rot steht für sehr schlecht, grün für sehr gut. Gelb ist neutral. Gelbgrün und Orange liegen jeweils dazwischen.<br>
                    Am Schluss kannst Du uns auch einen Kommentar oder eine Idee für diesen Ort hinterlassen. Unter "Foto hochladen" kannst Du ein Bild von Dem von Dir ausgewählten Ort hochladen. Die Bilder werden automatisch kleiner gerechnet, Du musst sie nicht extra bearbeiten.<br>
                    Du kannst so viele Orte wie Du willst anklicken, bewerten und kommentieren. Deine Beiträge werden von uns moderiert und freigegeben. Erst dann sind sie für alle sichtbar.<br><br>

                    Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de
                </p>

            </div>
            </div>
        </div>
    </div>
