<div class="container-fluid" style="height:100%">
    <md-fab-speed-dial ng-cloak style="z-index: 99;position:absolute; left:0;margin: 8px 14px !important"
                       md-direction="down"
                       md-trigger="click"
                       class="md-scale"
                       md-open="vm.speedDialOpen"
                       md-is-locked="open">
        <md-fab-trigger>
            <md-button md-whiteframe="24"
                       aria-label="filter layers"
                       class=" md-icon-button md-primary md-fab">
                <md-icon class="material-icons md-36">layers</md-icon>
            </md-button>
        </md-fab-trigger>

        <md-fab-actions>
        <div ng-repeat="item in vm.items">
            <md-button aria-label="{{item.name}}"
                       class="md-fab md-mini no-padding-button"
                       md-whiteframe="24"
                       ng-click="vm.filterCategory(item.categoryId, $event)"
                       style="background-color: white">
                <md-icon md-svg-src="{{item.icon}}" aria-label="{{item.name}}"
                         class="material-icons md-40 pink-icons"></md-icon>
            </md-button>
        </div>
        </md-fab-actions>
    </md-fab-speed-dial>


    <md-button style="z-index: 99;position:absolute; left:75px;margin: 8px 14px !important" md-whiteframe="24"
               class=" md-icon-button md-primary md-fab" ng-click="vm.toggleVisibility()"
               aria-label="Menu Sidebar">
        <md-icon class="material-icons md-36">{{vm.visibility}}</md-icon>
    </md-button>


    <div id="map" style="height:100%;width:100%;">
    </div>
    <div style="display:none;">
        <div class="container-fluid">
            <div id="infoWindowContent" class='infoWindowClass' md-whiteframe="24">
                <div data-ng-show="vm.step1" class="insidePane">

                    <div class=" infoWindowHeadline text-center"><h5 class=" ">Wähle eine Kategorie zu der du etwas
                        sagen möchtest.</h5></div>

                    <div class="row">
                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Wohnen</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default home text-center"
                                    ng-click="categoryChange('home', 7)"></button>

                        </div>
                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Nachbarschaft</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default neighbour text-center"
                                    ng-click="categoryChange('neighbour',4)"></button>

                        </div>

                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Verkehr</div>
                            <button type="button"
                                    class="btn btn-circle btn-raised btn-default infrastructure text-center"
                                    ng-click="categoryChange('infrastructure',8)"></button>

                        </div>


                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Plätze und Grünflächen</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default tree text-center"
                                    ng-click="categoryChange('tree',5)"></button>

                        </div>
                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Einkaufen</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default shopping text-center"
                                    ng-click="categoryChange('shop',3)"></button>

                        </div>
                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Sport und Freizeit</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default sport text-center"
                                    ng-click="categoryChange('sport',6)"></button>

                        </div>


                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Bildung und Kultur</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default education text-center"
                                    ng-click="categoryChange('education',2)"></button>

                        </div>
                        <div class="col-sm-4 col-xs-6 text-center wrapCategory">
                            <div class="cateoryText">Weiß nicht</div>
                            <button type="button" class="btn btn-circle btn-raised btn-default other text-center"
                                    ng-click="categoryChange('none',1)"></button>

                        </div>

                    </div>
                </div>

                <div data-ng-show="vm.step2" class="insidePane ">
                    <div class=" infoWindowHeadline text-center"><h5 class=" ">Wie findest du den Ort? Wähle zwischen
                        Rot für sehr
                        schlecht und Grün für sehr gut.</h5></div>
                    <div class="row paddingTop">
                        <div class="col-xs-1"></div>
                        <div class="col-xs-2  text-center">
                            <button type="button" class="btn btn-circle btn-raised  red "
                                    ng-click="colorChange('#CD333F', 1)"></button>
                        </div>
                        <div class="col-xs-2  text-center">
                            <button type="button" class="btn btn-circle btn-raised  orange text-center"
                                    ng-click="colorChange('#EB6841', 2)"></button>
                        </div>
                        <div class="col-xs-2   text-center">
                            <button type="button" class="btn btn-circle btn-raised  yellow text-center"
                                    ng-click="colorChange('#EDC951', 3)"></button>
                        </div>
                        <div class="col-xs-2  text-center">
                            <button type="button" class="btn btn-circle btn-raised  lightgreen text-center"
                                    ng-click="colorChange('#88A65E', 4)"></button>
                        </div>
                        <div class="col-xs-2  text-center">
                            <button type="button" class="btn btn-circle btn-raised  green text-center"
                                    ng-click="colorChange('#5E8C6A', 5)"></button>
                        </div>
                    </div>

                </div>
                <div data-ng-show="vm.step3" class="insidePane" md-theme={{theme}}>
                    <div class=" infoWindowHeadline text-center"><h5 class=" ">Schreib einen Kommentar oder deine
                        Idee.</h5></div>
                    <div class="row paddingTop">
                        <div class="col-xs-12">
                            <div class="col-xs-4">
                                <md-input-container style="width:100%; ">
                                    <label>Thema</label>
                                    <textarea type="text" ng-model="headline"></textarea>
                                </md-input-container>

                            </div>
                            <div class="col-xs-8">
                                <md-input-container style="width:100%; ">
                                    <label>Kommentare</label>
                                    <textarea type="text" ng-model="comments"></textarea>
                                </md-input-container>
                            </div>

                            <div class="col-xs-6">
                                <md-input-container style="width: 100%;">
                                    <label>Alter</label>
                                    <md-select ng-model="userAge">
                                        <md-option ng-repeat="age in vm.options.ages" value="{{age.value}}">
                                            {{age.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>

                            <div class="col-xs-6">
                                <md-input-container style="width: 100%;">
                                    <label>Geschlecht</label>
                                    <md-select ng-model="userSex">
                                        <md-option ng-repeat="sex in vm.options.sexes" value="{{sex.value}}">
                                            {{sex.label}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                            <div class="col-sm-6">
                                <md-input-container style="width: 100%;">
                                    <label>Email (optional-unsichtbar)</label>
                                    <input ng-model="emailUser" type="email">
                                </md-input-container>
                            </div>
                            <div class="col-sm-6 ">
                                <div class="alert alert-info alert-dismissible" role="alert">
                                    Die Email dient auschließlich dazu Kontakt zwischen Dir und uns herzustellen.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <!--<div class="col-sm-6 text-left hidden-sm hidden-xs">
                                                <button type="button" class="btn btn-default btn-raised ">Bild</button>
                                            </div>-->
                            <div class="col-sm-12 text-center hidden-sm hidden-xs clearfix">
                                <button type="button" class="btn btn-info btn-raised " ng-click="formSubmit()">
                                    Absenden
                                </button>
                            </div>
                            <!-- <div class="col-sm-12 text-center visible-sm visible-xs">
                                 <button type="button" class="btn btn-default btn-raised ">Bild</button>
                             </div>-->
                            <div class="col-sm-12 text-center visible-sm visible-xs clearfix">
                                <button type="button" class="btn btn-info btn-raised " ng-click="formSubmit()">
                                    Absenden
                                </button>
                            </div>
                            <div ng-show="vm.successMessage" class="col-sm-12" style="color:green">
                                Success
                            </div>
                            <div ng-show="vm.errorMessage" class="col-sm-12" style="color:red">
                                Error
                            </div>

                        </div>
                    </div>


                </div>
            </div>


        </div>
    </div>
    <div style="display:none;">
        <div class="container-fluid">
            <div id="infoCommentWindow" class='commentClass' md-whiteframe="24">
                <div class="insideCommentPane">
                    <div class="row">
                        <div class="col-sm-12 commentFetched">
                            <div class="col-sm-12 userCommentFormatted">
                                {{currentUserComment}}
                            </div>
                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="col-xs-12 text-center">
                                <button type="button" class="btn btn-info btn-circle btn-raised btn-sm buttonRating"
                                        ng-click="updateLike(commentIdUser)">
                                    <span class="glyphicon glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-12 text-center" style="margin-top: 5px">
                                <span class="badge">{{currentUserLikes}}</span>
                            </div>


                        </div>
                        <div class="col-xs-6 text-center">
                            <div class="col-xs-12 text-center">
                                <button type="button" class="btn btn-info btn-circle btn-raised btn-sm buttonRating"
                                        ng-click="updateUnlike(commentIdUser)">
                                    <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                                </button>
                            </div>
                            <div class="col-xs-12 text-center" style="margin-top: 5px;">
                                <span class="badge">{{currentUserUnlikes}}</span>
                            </div>

                        </div>
                    </div>


                </div>


            </div>
        </div>
    </div>


</div>
