<div class="">
	<header> <img src="../img/svg/justepeople.svg"  width="100px"  hight="100px" align="left" hspace="90" vspace="10"> <header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
               <font  color="#789ACB"><h1>Kommentare</h1></font>
				
                <p>

                   Hier findest du alle abgegebenen Kommentare nach Kategorien aufgelistet.</p>  
 <p>So kannst du dir ganz in Ruhe alles ansehen
				
				<br><br>
                   <font  color="#789ACB"><b><p>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de</p></b></font>
                </p>
	<br>	
	<br>	
	<br>
				<br>	
				<br>	
				<br>	
				<br>	
	<p><i>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</p></i><br>
                <div>
                    <img src="../img/logoleiste.png" class="img-responsive">
                </div>
            </div>
            </div>
		
        </div>
    </div>