<div style="min-height: 100%;position:relative">
<div class="jumbotron jumbotron-custom" style="height:100%">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <img src="../img/svg/justepeople.svg" class="img-responsive"
                     style="display: inline-block;max-height: 200px; min-height:100px">

                <h1 class="yourkiez-header" style="display: inline-block;color:#ffffff;">Yourkiez</h1>
            </div>
        </div>
    </div>
</div>
<div class="container" style="height:100%">
    <div class="row">
        <div class="col-sm-12">
            <font color="#789ACB"><h1>Kommentare</h1></font>

            <p>

                Hier findest du alle abgegebenen Kommentare nach Kategorien aufgelistet.</p>


            <div class="panel-group" id="accordion">
                <div ng-repeat="category in ko.categoryList track by category.categoryId">
                    <div class="panel panel-default custom-panel">
                        <div class="panel-heading accordion-toggle"
                             data-toggle="collapse"
                             data-parent="#accordion"
                             href="{{'#'+category.class}}">
                            <h4 class="panel-title custom-title">
                                    <md-icon md-svg-src="{{category.icon}}"
                                                              aria-label="{{}}"
                                                              class=" white-icons"></md-icon>{{category.name}}
                            </h4>


                        </div>
                        <div id="{{category.class}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div ng-repeat="comments in category.categoryComments">
                                    <div class="commentBubbles" ng-class = "'commentBubbles'+comments.ratingId">
                                        {{comments.description}}
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>



            <p>So kannst du dir ganz in Ruhe alles ansehen

                <br><br>
                <font color="#789ACB"><b><p>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de</p>
                </b></font>
            </p>

        </div>
    </div>

</div>

    <div style="height:150px">
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p><em>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der
                            Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</em></p>
                        <img src="../img/logoleiste.png" style="width:100%">
                    </div>
                </div>
            </div>

        </div>

    </div>


</div>