<div style="min-height: 100%;position:relative">
    <div class="jumbotron jumbotron-custom" style="height:100%">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../img/svg/justepeople.svg" class="img-responsive"
                         style="display: inline-block;max-height: 200px; min-height:100px">

                    <h1 class="yourkiez-header" style="display: inline-block;color:#ffffff;">Yourkiez</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height:100%">
        <div class="row">
            <div class="col-sm-12">
                <font color="#789ACB"><h1>Nutzungsbedingungen für die Projekthomepage</h1></font>

                <p>
                    Die AG.URBAN sowie das Quartiersmanagement Richardplatz Süd setzen hierbei voraus, dass ein guter
                    und
                    angemessener Umgang in der technischen Kommunikation gepflegt wird. Sämtliche Eingaben unterliegen
                    einer
                    zeitnahen Kontrolle durch die AG.URBAN. Auf Regelverstöße wird angemessen reagiert. Deine
                    statistischen Daten
                    dienen ausschließlich der besseren Auswertung dieses Projektes und sind anonym.
                </p>
                <font color="#789ACB"><h1>Funktionen der Projekthomepage</h1></font>

                <p>
                    Die Projekthomepage ist dynamisch und wird sich im fortschreitenden Prozess verändern.
                    In einem ersten Schritt hast Du die Möglichkeit, Stärken, Schwächen und Projektideen zu benennen.
                    Wichtig hierbei ist, dass Du dies für einen konkreten Ort tust. Dafür genügt ein kurzer Klick in die
                    Karte und eine prägnante Beschreibung, was Dir dort gefällt, nicht gefällt oder was getan werden
                    könnte.
                    Die Eingaben werden in einer Datenbank gesammelt, die auch von den NutzerInnen einsehbar ist.
                    Die Ergebnisse der Online-Beteiligung fließen mit in das Endprodukt ein und werden in einem
                    Endbericht dokumentiert.
                </p>

                <font color="#789ACB"><h1>Urheberrecht</h1></font>

                <p>
                    Einträge können ohne Registrierung erfolgen. Es dürfen nur Inhalte veröffentlicht werden, die Du
                    selbst verfasst hast. Das Kopieren von Texten oder Ausschnitten von Texten anderer Autoren ist nicht
                    gestattet.</p>

                <p>
                    Mit dem Hochladen von Fotos erlaubt der Ersteller des Bildes der AG.URBAN, das Bildmaterial für die
                    Projektarbeit zu nutzen und in Online- und Printerzeugnissen weiterzuverwenden.
                </p>
                <font color="#789ACB"><h1>Unzulässige Inhalte</h1></font>
                <ul style="list-style-type:disc">
                    <li>
                        Werbung in jedweder Form, kommerziell oder privat, einschließlich dem Verweis auf Websites
                    </li>
                    <li>
                        Strafrechtlich relevante Inhalte, einschließlich Anschuldigungen gegen Personen, Institutionen
                        und Unternehmen
                    </li>
                    <li>
                        diskriminierende und entwürdigende Äußerungen
                    </li>
                    <li>
                        Rassismus und Hasspropaganda
                    </li>
                    <li>
                        Gewaltverherrlichung und die Aufforderungen zu Gewalt
                    </li>
                    <li>
                        sexistische und obszöne Äußerungen
                    </li>
                    <li>
                        Pornografische, kinder- und jugendgefährdende Inhalte
                    </li>
                </ul>

                <font color="#789ACB"><h1>Moderation</h1></font>

                <p>
                    Jeder Nutzer und jede Nutzerin der Projekthomepage gibt sein Einverständnis, dass die Moderation
                    nach eigenem Ermessen Beiträge löschen oder Punkte auf der Karte verschieben kann, sollten sie
                    falsch verortet sein.
                    Bei Nachfragen kannst Du Dich direkt an die Moderation unter mail@yourkiez.de wenden.
                </p>

                <p>
                    Solltest Du auf unzulässige Inhalte stoßen, kannst Du diese über mail@yourkiez.de melden.

                </p>
                <font color="#789ACB"><b><p>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de</p>
                </b></font>
                </p>
            </div>
        </div>
        <br>
    </div>

    <div style="height:150px">
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p><em>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der
                            Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</em></p>
                        <img src="../img/logoleiste.png" style="width:100%">
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>