<div class="">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <h1>
                    Um was Geht es?
                </h1>
                <p>
                    Bei YOURKIEZ kannst Du sagen, was Dir in deinem Kiez gefällt und was nicht. Oder sag uns einfach, was Du schon immer loswerden wolltest. Hast Du Ideen für eine Ecke in Deinem Kiez, teile sie uns mit.<br>
                    Die Projekthomepage www.yourkiez.de ist einer von mehreren Beteiligungsbausteinen zur aktivierenden Beteiligung im Richardkiez. Insbesondere wenn Du es nicht schaffen solltest, an den im Jahr 2016 und 2017 stattfindenden Terminen vor Ort teilzunehmen, erhälst Du durch die Projekthomepage die Möglichkeit, sich mit einzubringen. Jeder Hinweis, jede Idee sind hierbei willkommen!<br>
                    Je mehr Leute mitmachen, desto besser wird das Bild der Bewohner über ihren Richardkiez.<br>
                    Lass uns gemeinsam unseren Kiez verbessern.<br>
                    Hast du weitere Fragen? Dann schreib uns unter mail@yourkiez.de<br>
                </p>

                <h1>
                    Was passiert mit den gesammelten Kommentaren und Ideen?
                </h1>
                <p>
                    Die Kiezkarte mit den von Euch abgegebenen Bewertungen und Projektideen wird Grundlage sein für die im Jahr 2017 stattfindende Stadtteilversammlung. Auf der Versammlung soll mit möglichst hoher Beteiligung ein Projekt- du Ideenkatalog diskutiert und abgestimmt werden. Dieser fließt dann ein in das vom Quartiersmanagement und den lokalen Akteuren erarbeitete integrierte Handlungskonzept. Eure Ideen gehen also nicht verloren!
                </p>
                <p>
                    Wir sind ein Projekt im Programm Soziale Stadt im Zusammenarbeit mit
                </p>
                <p>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</p>
                <div>
                    <img src="../img/logoleiste.png" class="img-responsive">
                </div>
                </div>
            </div>
        </div>
    </div>
