<div style="min-height: 100%;position:relative">
    <div class="jumbotron jumbotron-custom" style="height:100%">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <img src="../img/svg/justepeople.svg" class="img-responsive"
                         style="display: inline-block;max-height: 200px; min-height:100px">

                    <h1 class="yourkiez-header" style="display: inline-block;color:#ffffff;">Yourkiez</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container" style="height:100%">
        <div class="row">
            <div class="col-sm-12">
                <font color="#789ACB"><h1>Termine</h1></font>

                <p style="margin-bottom: 30px">

                <p>
                    Hier kannst du alle Termine sehen auf denen Wir für Dich da sind. Bei jeder Veranstaltung bist Du
                    und Deine Freunde und Familie herzlich eingeladen. <br>
                    Du kannst dir ja schonmal was überlegen und mit uns darüber sprechen. <br>
                    <b><p>Hier werden wir bald für Dich da sein:</b><br></p>
                <br>
                <mark><b>15.4.2016</b></mark>
                <p><i>Boule Turnier auf dem Freundschaftsplatz! Beginn ist um 15 Uhr</i>.</p>

                <mark><b>21.5.2016</b></mark>
                <p><i>Richtfest auf dem Droryplatz</i>.</p>

                <mark><b>14.7.2016</b></mark>
                <p><i>Sommerfest auf dem Droryplatz</i>.</p>
                <br>
                <br>
                <br>
                <br>
                <br>
                <font color="#789ACB"><b><p>Hast Du weitere Fragen? Dann schreib uns unter mail@yourkiez.de</p>
                </b></font>
                <br>
                </p>
            </div>
        </div>
    </div>
    <div style="height:150px">
        <div class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <p><em>Gefördert durch die Bundesrepublik Deutschland und das Land Berlin im Rahmen der
                            Zukunftsinitiative Stadtteil, Teilprogramm Soziale Stadt.</em></p>
                        <img src="../img/logoleiste.png" style="width:100%">
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>